body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a; 
    color:white;
    text-align:center;
}

/* Bande du haut */
header{
    background:#1e293b;
    padding:20px;
    font-size:28px;
    font-weight:bold;
    letter-spacing:1px;
}

/* Menu */
nav{
    margin-top:15px;
}
nav a{
    margin:10px;
    font-size:20px;
    text-decoration:none;
    color:#00eaff;
    font-weight:bold;
}
nav a:hover{ text-decoration:underline; }

/* Boutons */
button{
    padding:12px 18px;
    margin:8px;
    font-size:18px;
    border:none;
    border-radius:6px;
    background:#00eaff;
    color:black;
    cursor:pointer;
    font-weight:bold;
}
button:hover{opacity:0.8;}

/* Images des pages de cours */
img{
    width:80%;
    max-width:850px;
    border-radius:8px;
    border:2px solid #334155;
    margin-top:20px;
}
